<div class="row">
<div class = "span9">
<table class="table table-bordered table-condensed table-striped table-hover">
    <thead>
        <tr>
            <th data-i18n="_peers.column.id_">Peer</th>
            <th data-i18n="_peers.column.value_">Value</th>
            <th data-i18n="_peers.column.comment_">Comment</th>           
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="peer in peers">
            <td>{{peer.id}}</td>
            <td>{{peer.value}}</td>
            <td>{{peer.comment}}</td>
            <td><button class="btn btn-info" ng-click="editPeer(peer)"><i class="fa fa-pencil-square-o"></i></button></td>
            <td><button class="btn btn-danger remove" ng-click="removePeer(peer)"><i class="fa fa-trash"></i></button></td>
        </tr>
    </tbody>
</table>
<div class="well">
    <button class="btn btn-primary" ng-click="addNewPeer()"><i class="fa fa-user-plus"></i></button>
</div>

</div>
</div>