<form name="editForm">
    <div class="modal-header">
        <div class="alert alert-info"> 
            <span  class="span2" data-i18n="_peers.dialog.edit_peer.title_">Peer edition </span> <span><h4>{{peerToEdit.id}}</h4></span>
        </div>
    </div>
    <div class="modal-body">
        <!-- <label data-i18n="_users.dialog.add_peer.user_peer_">peer</label>
        <input class="span6" type="peer" name="peer" ng-model="peerToEdit.peerName" ng-disabled="0==0"> -->
       
        <label data-i18n="_peers.dialog.add_peer.peer_">Value</label>
        <input class="span6" type="text" name="peerValue" ng-model="peerToEdit.value" required>
        <span   ng-show="editForm.lastName.$invalid" class="help-inline">*</span>        

        <label data-i18n="_peers.dialog.add_peer.comment_">Comment</label>
        <input class="span6" type="text" name="peerComment" ng-model="peerToEdit.comment" required>
        <span   ng-show="editForm.lastName.$invalid" class="help-inline">*</span>

    </div>       
    <div class="modal-footer">
        <button ng-click="savePeer()" class="btn btn-primary" data-i18n="_users.dialog.edit_user.save_btn_" ng-disabled='editForm.$invalid'>Save</button>
        <button ng-click="closeEditPeer()" class="btn" data-i18n="_users.dialog.remove_user.cancel_btn_">Close</button>
    </div>
</form>

