/* Sticky footer styles
-------------------------------------------------- */
@import url("http://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css");

 html, body {
    opacity: 1;
    -webkit-transition: opacity 1s ease;
    -moz-transition: opacity 1s ease;
    transition: opacity 1s;
    padding: -top: 60px;
    padding-bottom: 40px;
}
/* Wrapper for page content to push down footer */
 #wrap {
    min-height: 95%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -40px;
}
/* Custom page CSS
-------------------------------------------------- */
 .container-fluid {
    padding-top: 60px;
}

.ng-invalid { border: 1px solid red; } 

div.DTTT { margin-bottom: 0.5em; float: right; }
div.dataTables_wrapper { clear: both; }

/* */
caret {
    display: none;
}
.input-append .bootstrap-select.btn-group {
    margin-left: -30;
}
.bootstrap-select.btn-group .btn-group .filter-option {
    position: relative;
    left: -8px;
}
.bootstrap-select .btn {
    overflow: hidden;
}

#choiseDestination {
    outline-offset:-4px;
    outline-width: 0;
    outline-color: #999 !important;
    width: 120px;
}
#choiseCallerId {
    outline-offset:-4px;
    outline-width: 0;
    outline-color: #999 !important;
    width: 120px;
}

#choiseDirection {
    outline-offset:-4px;
    outline-width: 0;
    outline-color: #999 !important;
    width: 120px;
}

#choiseHangupCause {
    outline-offset:-4px;
    outline-width: 0;
    outline-color: #999 !important;
    width: 120px;   
}

#choiseDuration {
     outline-offset:-4px;
    outline-width: 0;
    outline-color: #999 !important;
    width: 120px;   
}

.modal.cdrDetails {
    width:800px;
    margin-left:-350px
}

  .bgcolor {
        background-color: none;
      }      
      
      .lightblue {
       background-color: none;
      }
      
   .form-horizontal .control-label {
      width: 70px;
      }
      
   .form-horizontal .controls {
     margin-left: 90px;
       }      


[class^="icon-"],
[class*=" icon-"] {
  display: inline-block;
  width: 14px;
  height: 14px;
  margin-right: .3em;
  line-height: 14px;
  vertical-align: text-top;
  background-image: url("../images/glyphicons-halflings.png");
  background-position: 14px 14px;
  background-repeat: no-repeat;
  margin-top: 1px;
}

