<div class="modal-header">
    <div class="alert alert-info"><span  class="span2" data-i18n="_cdrs.details.title_">Details for call from </span><span> {{currentCdr.clid_number}} <-> {{currentCdr.dst}}</span></div>
</div>
<div class="modal-body">
    <table class="table table-bordered table-condensed table-striped table-hover">
        <thead>
            <tr>
                <th data-i18n="_cdrs.details.column_caller_">Caller</th>
                <th data-i18n="_cdrs.details.column_detination_">Destination</th>

                <th data--i18n="_cdrs.details.column_time_">Time</th>
                <th data--i18n="_cdrs.details.column_type_">Type</th>
                <th data--i18n="_cdrs.details.column_context_">Context</th>
                <th data--i18n="_cdrs.details.column_peer_">Peer</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="call in callDetails">
                <td>{{call.cid_num}}</td>
                <td>{{call.cid_dnid}}</td>

                <td>{{ call.event_time | cdrDateFormat }}</td>
                <td>{{call.event_type}}</td>
                <td>{{call.context}}</td>
                <td>{{call.peer | numberFromChannel}}</td>
            </tr>
        </tbody>
    </table>
</div>
<div class="modal-footer">
    <button ng-click="close()" class="btn" data--i18n="_cdrs.details.btn_close_">Close</button>
</div>