<div class="modal-header">
    <div class="alert alert-info">Details for call from {{currentCdr.clid_number}} to {{currentCdr.dst}}</div>
</div>
<div class="modal-body">
    <table class="table table-bordered table-condensed table-striped table-hover">
        <thead>
            <tr>
                <th>Caller</th>
                <th>Destination</th>

                <th>Time</th>
                <th>Type</th>
                <th>Context</th>
                <th>Peer</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="call in callDetails">
                <td>{{call.cid_num}}</td>
                <td>{{call.cid_dnid}}</td>

                <td>{{ call.event_time | cdrDateFormat }}</td>
                <td>{{call.event_type}}</td>
                <td>{{call.context}}</td>
                <td>{{call.peer | numberFromChannel}}</td>
            </tr>
        </tbody>
    </table>
</div>
<div class="modal-footer">
    <button ng-click="close()" class="btn">Close</button>
</div>