<div class="row-fluid" ng-show="searchShow">
    <div class="span12">
        <form class="form-horizontal form-actions" novalidate role="form">
            <div class="control-group">

                <div class="controls controls-row">
                  <div class="input-append" >
                    <label for="inputDateFrom">From</label>
                    <input ui-date="{ dateFormat: 'dd-mm-yy' }" ng-model="dateFrom" id="inputDateFrom" ></input>
                  </div>
                  <div class="input-append" >
                    <label for="inputDateFrom">To</label>
                    <input ui-date="{ dateFormat: 'dd-mm-yy' }" ng-model="dateTo" id="inputDateTo"></input>
                  </div>  
                  <!-- hangupcause -->   
                  <div class="input-append" >     
                   <label for="inputHangupCause">Hangup Cause</label>                   
                    <input type-"text" id="inputDirection"></input>
                    <select class="selectpicker"  id="choiseHangupCause" data-width="30px">
                      <option>All</option>
                      <option>Anwered</option>
                      <option>Non Answered</option>
                      <option>Failed</option>
                    </select>
                  </div> 
                  <!-- -->   
                   <div class="input-append" >     
                   <label for="inputDuration">Duration</label>                   
                    <input type-"text" id="inputDuration"></input>
                    <select class="selectpicker"  id="choiseDuration" data-width="30px">
                      <option>=</option>
                      <option><</option>
                      <option>></option>
                    </select>
                  </div>            
                   
                </div>

            </div>
          
            <div class="control-group">              
                <div class="controls controls-row">
                  
                  <div class="input-append" >   
                  <label for="inputDestination">Destination</label>                    
                    <input type-"text" id="inputDestination"></input>
                    <select class="selectpicker"  id="choiseDestination" data-width="30px">
                      <option>Equals</option>
                      <option>Contents</option>
                    </select>
                  </div>
                  <!-- callerd id -->
                   
                  <div class="input-append" >        
                  <label for="inputCallerId">Callerd Id</label>               
                    <input type-"text" id="inputCallerId"></input>
                    <select class="selectpicker"  id="choiseCallerId" data-width="30px">
                      <option>Equals</option>
                      <option>Contents</option>
                    </select>
                  </div>
                 <!-- direction -->                 
                  <div class="input-append" >     
                   <label for="inputDirection">Direction</label>                   
                    <input type-"text" id="inputDirection"></input>
                    <select class="selectpicker"  id="choiseDirection" data-width="30px">
                      <option>All</option>
                      <option>Incomming</option>
                      <option>Outgoing</option>
                    </select>
                  </div>
                </div>
            </div>

            <div class="form-footer">
                <div class="controls">
                    <button class="btn btn-success" ng-click="fetchCdrDatasClickHandler()" ng-disabled='form.$invalid'>Search</button>
                </div>
            </div>
        </form>
    </div>
</div>

<div class="row-fluid ">
    <button class="btn btn-primary offset11" ng-click="toggleShowSearch()">Hide/Show search</button>
</div>
<div class="row-fluid">
    <br/>
</div>

<div class="row-fluid">

    <!-- <div printablechart class="span4" style="height: 400px; margin: 10 auto">
        <div class="hc-live" items="liveDatas" print-click="printChart()"></div>
    </div>
    -->
    <div class="span12">

        <div class="row-fluid">
            <table cdr-table="cdrOverrideOptions" aa-data="cdrCategories" ao-column-defs="columnDefs" fn-row-callback="cdrSearchCallback" class="table table-stripped table-bordered" id="cdrsTable">
                <!--<table cdr-table options="cdrOptions"> -->
                <thead>
                    <tr>
                        <th style="width:250px">Call date</th>
                        <th style="width:250px">Caller Name</th>
                        <th style="width:250px">Caller Number</th>
                        <th style="width:250px">Destination</th>
                        <th style="width:100px">DID</th>
                        <th style="width:100px">Duration</th>
                        <th style="width:100px">Bill</th>
                        <th style="width:200px">Answer wait time</th>
                        <th style="width:200px">Hangup cause</th>
                        <th style="width:200px">Direction</th>


                    </tr>
                </thead>
            </table>
        </div>
        {{message}}
    </div>


</div>