<form name="addForm">
    <div class="modal-header">
        <div class="alert alert-info" data-i18n="_dids.dialog.add_did.title_"> Add new DID </div>
    </div>
    <div class="modal-body">
        <label data-i18n="_dids.column.id_">DID</label>
        <input class="span5" type="username" name="didid" ng-model="didToAdd.id" required>
        <span   ng-show="addForm.didid.$invalid" class="help-inline">*</span>
       
        <label data-i18n="_dids.column.value_">Value</label>
        <input class="span5" type="text" name="didValue" ng-model="didToAdd.value" required>
        <span   ng-show="addForm.didValue.$invalid" class="help-inline">*</span>        

        <label data-i18n="_dids.column.comment_">Comment</label>
        <input class="span5" type="text" name="didComment" ng-model="didToAdd.comment" required>
        

    </div>       
    <div class="modal-footer">
        <button ng-click="addDid()" class="btn btn-primary" data-i18n="_users.dialog.add_did.add_btn_" ng-disabled='addForm.$invalid'>Add</button>
        <button ng-click="close()" class="btn" data-i18n="_users.dialog.add_did.cancel_btn_">Cancel</button>
    </div>
</form>

