<form name="editForm">
    <div class="modal-header">
        <div class="alert alert-info"> 
            <span  class="span2" data-i18n="_dids.dialog.edit_did.title_">DID edition </span> <span><h4>{{didToEdit.id}}</h4></span>
        </div>
    </div>
    <div class="modal-body">
        <!-- <label data-i18n="_users.dialog.add_did.user_did_">DID</label>
        <input class="span6" type="did" name="did" ng-model="didToEdit.didName" ng-disabled="0==0"> -->
       
        <label data-i18n="_dids.column.value_">Value</label>
        <input class="span6" type="text" name="didValue" ng-model="didToEdit.value" required>
        <span   ng-show="editForm.value.$invalid" class="help-inline">*</span>        
        

        <label data-i18n="_dids.column.comment_">Comment</label>
        <input class="span6" type="text" name="didComment" ng-model="didToEdit.comment" required>
        <span   ng-show="editForm.comment.$invalid" class="help-inline">*</span>  
    </div>       
    <div class="modal-footer">
        <button ng-click="saveDid()" class="btn btn-primary" data-i18n="_users.dialog.edit_user.save_btn_" ng-disabled='editForm.$invalid'>Save</button>
        <button ng-click="closeEditDid()" class="btn" data-i18n="_users.dialog.remove_user.cancel_btn_">Close</button>
    </div>
</form>

