<form>
	<div class="modal-header">
		<div class="alert alert-info"><span data-i18n="_dids.dialog.remove_did.title_"> DID will be removed </span> : {{didToRemove.id}}. </div>
	</div>
	<div class="modal-body">
		<div class="alert alert-warning" data-i18n="_dids.dialog.remove_did.warning_"> Are you sure to remove did ?</div>
	</div>
	<div class="modal-footer">
	<button ng-click="close('cancel')" class="btn btn-primary" data-i18n="_users.dialog.remove_user.cancel_btn_">Cancel</button>
	<button ng-click="close('ok')" class="btn btn-danger btn-primary" data-i18n="_users.dialog.remove_user.ok_btn_">OK</button>
	</div>
</form>
