<div class="row-fluid">
    <form class="form-horizontal form-actions" novalidate role="form" ng-show="searchShow">
        <!--  <legend>Search Form</legend> -->
        <div class="row-fluid">
            <div class="span8">
                <div class="row-fluid">
                    <div class="span12 bgcolor" ng-show="searchShowError">
                        <div class="alert alert-error">
                            <a href="#" class="close" data-dismiss="alert">×</a>
                            Error Messages.
                        </div>
                    </div>
                </div>
                <div class="row-fluid">
                    <div class="span6 bgcolor">
                        <div class="control-group">
                            <label class="control-label" for="dailyDidDate"><i class="icon-calendar"></i></label>
                            <div class="controls ">
                                <input ui-date="{ dateFormat: 'dd-mm-yy' }" ng-model="dailyDidDate" id="dailyDidDate" />
                                <span class="help-block" data-i18n="_search.common.choise_date_">Choise did search date</span>

                            </div>
                        </div>
                    </div>
                    <!--/span-->
                    <div class="span6 bgcolor">
                        <div class="control-group">
                            <label class="control-label" for="dailyPeerDate"><i class="icon-calendar"></i></label>
                            <div class="controls ">
                                <input ui-date="{ dateFormat: 'dd-mm-yy' }" ng-model="dailyPeerDate" id="dailyPeerDate" />
                                <span class="help-block" data-i18n="_search.common.choise_date_">Choise peer search date</span>
                            </div>
                        </div>
                        <!--/span-->
                    </div>
                    <!--/row-->
                    <div class="row-fluid">
                        <div class="span6 bgcolor">
                            <div class="control-group">
                                <label class="control-label" for="choiseDid"></label>
                                <div class="controls">
                                    <selendpoints selected-value="choiseDid" given-type="didsTarget"></selendpoints>
                                    <span class="help-block" data-i18n="_search.common.choise_did_">Choise did.</span>
                                </div>
                            </div>
                        </div>
                        <!--/span-->
                        <div class="span6 bgcolor">
                            <div class="control-group">
                                <label class="control-label" for="choisePeer"></label>
                                <div class="controls">
                                    <selendpoints selected-value="choisePeer" given-type="peersTarget"></selendpoints>
                                    <span class="help-block" data-i18n="_search.common.choise_peer_">Choise peer.</span>
                                </div>
                            </div>
                        </div>
                        <!--/span-->
                    </div>
                    <!--/row-->

                    <div class="row-fluid">
                        <div class="span6 bgcolor">
                            <div class="control-group">
                                <div class="controls">
                                    <button class="btn btn-primary" ng-click="fetchDidDatas()" ng-disabled='form.$invalid'><i class="icon-search icon-white"></i><span data-i18n="_search.common.button_did_">DID</span></button>
                                </div>
                            </div>
                        </div>
                        <!--/span-->
                        <div class="span6 bgcolor">
                            <div class="control-group">
                                <div class="controls">
                                    <button class="btn btn-primary" ng-click="fetchPeerDatas()"  ng-disabled='form.$invalid'><i class="icon-search icon-white"></i><span data-i18n="_search.common.button_peer_">Peer</span></button>
                                </div>
                            </div>
                        </div>
                        <!--/span-->
                    </div>
                    <!--/row-->
                </div>
                <!--/span-->
                <div class="span4">
                </div>
                <!--/span-->
            </div>
            <!--/row-->
    </form>
    </div>
    <div class="row-fluid ">
        <button class="btn pull-right" ng-class="{true: 'btn-info', false: 'btn-danger'}[!searchShow]" ng-click="searchShow = !searchShow"><i ng-class="{true: 'icon-arrow-down icon-white', false: 'icon-arrow-up icon-white'}[!searchShow]" class="icon-arrow-up icon-white"></i>{{!searchShow && 'Show' || 'Hide'}}</button>
    </div>
    <div class="row-fluid">
        </br>
        </br>
    </div>

    <div class="row-fluid">
        <div class="span4">
            <div>
                <!-- <didcalls my-date='dailyDidDate' set-fn="setDidCallsDirectiveFn(theDirFn)"></didcalls> -->
                <chartcalls my-date='dailyDidDate' set-fn="setDidCallsDirectiveFn(theDirFn)" my-title='titleDIDCalls'></chartcalls>
            </div>
        </div>

        <div class="span4">
            <div>
                <!-- <peerincalls my-date='dailyPeerDate' set-fn="setInCallsDirectiveFn(theDirFn)"></peerincalls> -->
                <chartcalls my-date='dailyPeerDate' set-fn="setInCallsDirectiveFn(theDirFn)" my-title='titleInCalls'></chartcalls>
            </div>
        </div>

        <div class="span4">
            <div>
                <!--<peeroutcalls my-date='dailyPeerDate' set-fn="setOutCallsDirectiveFn(theDirFn)"></peeroutcalls>-->
                <chartcalls my-date='dailyPeerDate' set-fn="setOutCallsDirectiveFn(theDirFn)" my-title='titleOutCalls'></chartcalls>
            </div>
        </div>


    </div>
    <div class="row-fluid">
	    </br>
        </br>
    </div>