<div class="navbar  navbar-fixed-top" ng-controller="HeaderCtrl">
    <div class="navbar-inner">
        <div>
            <span class="brand" >&nbsp;</span>
            <a class="brand" ng-click="home()">AVOR v<span app-version></span></a>
            <ul class="nav" ng-show="currentUser.isAuthenticated()">
               
               <li ng-class="{active:isNavbarActive('dashboard')}" ng-show="currentUser.hasRigthsFeature(dashboard)">
               <a href="/dashboard" data-i18n="_header.menu.dashboard_">Dashboard</a></li>

               <li ng-class="{active:isNavbarActive('daily')}" ng-show="currentUser.hasRigthsFeature(daily)">
               <a href="/daily" data-i18n="_header.menu.daily_">Daily</a></li>
               
               <li ng-class="{active:isNavbarActive('monthly')}" ng-show="currentUser.hasRigthsFeature(monthly)">
               <a href="/monthly" data-i18n="_header.menu.monthly_">Monthly</a></li>

                <li ng-class="{active:isNavbarActive('yearly')}" ng-show="currentUser.hasRigthsFeature(yearly)">
               <a href="/yearly" data-i18n="_header.menu.yearly_">Yearly</a></li>

               <li ng-class="{active:isNavbarActive('callsdetails')}" ng-show="currentUser.hasRigthsFeature(callsdetails)">
              <a href="/callsdetails" data-i18n=" _header.menu.calls_details_">Calls details record1</a></li>
               
               <li class="dropdown">
                    <a id="languagemenu" role="button" class="dropdown-toggle" data-i18n="_header.menu.languages_">Language<b class="caret"></b></a>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="languagemenu1">
                        <li><a tabindex="-1" href="#" ng-click="setEnglishLanguage()">English</a></li>
                        <li><a tabindex="-1" href="#" ng-click="setFrenchLanguage()">Français</a></li>
                    </ul>
                </li>

                <li class="dropdown" ng-class="{active:isNavbarActive('admin'), open:isAdminOpen}" ng-show="currentUser.isAdmin()">
                    <a id="adminmenu" role="button" class="dropdown-toggle" ng-click="isAdminOpen=!isAdminOpen" data-i18n="_header.menu.admin_">Admin<b class="caret"></b></a>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="adminmenu1">
                        <li><a tabindex="-1" href="/users" ng-click="isAdminOpen=false" data-i18n="_header.menu.admin.users_">Users</a></li>
                        <li><a tabindex="-1" href="/dids" ng-click="isAdminOpen=false" data-i18n="_header.menu.admin.dids_">Dids</a></li>
                        <li><a tabindex="-1" href="/peers" ng-click="isAdminOpen=false" data-i18n="_header.menu.admin.peers_">Peers</a></li>
                    </ul>
                </li>

            </ul>


            <ul class="nav pull-right" ng-show="hasPendingRequests()">
                <li class="divider-vertical"></li>
                <li><a href="#"><img src="/static/img/spinner.gif"></a></li>
            </ul>
            <login-toolbar></login-toolbar>
        </div>
    </div>
</div>


