<form name="editForm">
    <div class="modal-header">
        <div class="alert alert-info"> 
            <span  class="span3" data-i18n="_users.dialog.edit_user.title_">User edition </span> <span><h4>{{userToEdit.userName}}</h4></span>
        </div>
    </div>
    <div class="modal-body">
        <!-- <label data-i18n="_users.dialog.add_user.user_name_">User name</label>
        <input class="span6" type="username" name="username" ng-model="userToEdit.userName" ng-disabled="0==0"> -->
       
        <label data-i18n="_users.dialog.add_user.last_name_">Last name</label>
        <input class="span5" type="text" name="lastName" ng-model="userToEdit.lastName" required>
        <span   ng-show="editForm.lastName.$invalid" class="help-inline">*</span>

        <label data-i18n="_users.dialog.add_user.first_name_">First name</label>
        <input class="span5" type="text" name="firstName" ng-model="userToEdit.firstName">

        <label data-i18n="_users.dialog.add_user.password_">Password</label>
        <input class="span5" type="password" name="password" ng-model="userToEdit.password" required>
        <span   ng-show="editForm.password.$invalid" class="help-inline">*</span>

        <label data-i18n="_users.dialog.add_user.repeat_password_">Password (repeat)</label>
        <input class="span5" type="password" name="repeatPassword" id="repeatPassword" placeholder="" ng-model="userToEdit.repeatPassword" repeat-password="password" required>
       
        
        <label data-i18n="_users.dialog.add_user.admin_">Admin</label>
        <input type="checkbox" ng-model="userToEdit.isAdmin">
    </div>       
    <div class="modal-footer">
        <button ng-click="saveUser()" class="btn btn-primary" data-i18n="_users.dialog.edit_user.save_btn_" ng-disabled='editForm.$invalid'>Save</button>
        <button ng-click="closeEditUser()" class="btn" data-i18n="_users.dialog.add_user.cancel_btn_">Close</button>
    </div>
</form>

