<form name="addForm"validate>
    <div class="modal-header">
        <div class="alert alert-info" data-i18n="_users.dialog.add_user.title_"> Add new user </div>
    </div>
    <div class="modal-body">
        <label data-i18n="_users.dialog.add_user.user_name_" for="username">User name</label>
        <input class="span5" type="username" name="username" ng-model="userToAdd.userName" required>
        <span   ng-show="addForm.username.$invalid" class="help-inline">*</span>
        
        <label data-i18n="_users.dialog.add_user.last_name_">Last name</label>
        <input class="span5" type="text" name="lastName" ng-model="userToAdd.lastName" required>
        <span   ng-show="addForm.lastName.$invalid" class="help-inline">*</span>

        <label data-i18n="_users.dialog.add_user.first_name_">First name</label>
        <input class="span5" type="text" name="firstName" ng-model="userToAdd.firstName">
           
        <label data-i18n="_users.dialog.add_user.password_">Password</label>
        <input class="span5" type="password" name="password" ng-class="{ error: addForm.password.$invalid }" class="form-control"  ng-model="userToAdd.password" required>
        <span   ng-show="addForm.password.$invalid" class="help-inline">*</span>


        <label data-i18n="_users.dialog.add_user.repeat_password_">Password (repeat)</label>
        <input class="span5" type="password" name="repeatPassword" id="repeatPassword" placeholder="" ng-model="userToAdd.repeatPassword" repeat-password="password" required>


        <label data-i18n="_users.dialog.add_user.admin_">Admin</label>
        <input type="checkbox" ng-model="userToAdd.admin">
    </div>       
    <div class="modal-footer">
        <button ng-click="addUser()" class="btn btn-primary" data-i18n="_users.dialog.add_user.add_btn_" ng-disabled='addForm.$invalid'>Add</button>
        <button ng-click="close()" class="btn" data-i18n="_users.dialog.add_user.cancel_btn_">Cancel</button>
    </div>
</form>

